.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 0;
}

.header{
  background: #e67e22;
  padding: 9px;
  color: white;
  width: 100%;
  
}

.form{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 15px;
  
}

.data{
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.data_val{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 0px 9px 0px 9px;
  box-shadow: rgba(92, 103, 93, 0.16) 0px 10px 36px 0px, rgba(236, 57, 57, 0.06) 0px 0px 0px 1px;
  background-color: #f1f2f6;
}